@{
    ViewData["Title"] = "Move";
    int dir = Convert.ToInt32(ViewData["direction"]);
    Account acc = new JsonReader().Read().ToArray()[dir];
}

    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <table class="table">
            <tr class="thead-dark">
                <th></th>
                <th>account details</th>
            </tr>
            <tr>
                <th>Number</th>
                <th>@acc.Number</th>
            </tr>
            <tr>
                <th class="thead-dark">Balance</th>
                <th>@acc.Balance</th>
            </tr>
            <tr>
                <th class="thead-dark">Label</th>
                <th>@acc.Label</th>
            </tr>
            <tr>
                <th class="thead-dark">Owner</th>
                <th>@acc.Owner</th>
            </tr>
            <tr>
                <th>
                    <form method="POST" asp-controller="api" asp-action="Move" asp-route-direction=@(dir - 1)>
                        <button type="submit" class="btn btn-secondary btn-sm">Back</button>
                    </form>
                </th>
                <th>
                    <form method="POST" asp-controller="api" asp-action="Move" asp-route-direction=@(dir + 1)>
                        <button type="submit" class="btn btn-secondary btn-sm">Next</button>
                    </form>
                </th>
            </tr>
        </table>

    </div>


  